html{
	background: #999966;
}
div#title{
	position: absolute;
	left: 500px;
}

section{
	position: absolute;
	top: 100px;
}
p{
	position: relative;
	left: 450px;
}
div#container{
	border: #000000 solid 5px;
	padding: 10px;
	position: absolute;
	top: 80px;
	left:300px;
}
div#upload_file{
	position: relative;
	top: 10px;
	left: 10px;
	width: 400px;
}
div#download_file{
	position: relative;
	top: -40px;
	left: 380px;
	width: 660px;
}

footer{
	position: absolute;
	top: 650px;
	left: 600px;
}