.logo{
	height: 200px;
	width: 400px;
	background-image:url('AmazingSpiderman.jpg');
	background-repeat: no-repeat;
}

body{
	color: #000000;
	background: #00FFFF;
	font-size: 12pt;
}

nav{
	text-align: center;
}

ul{
	list-style: round;
}

small{
	text-align: center;
	font-size: 9pt;	
}